## App packaging
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
teamId.swift
# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj

.build/


Carthage/Build/

Dependencies/
.accio/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


iOSInjectionProject/


### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

